



html {
    background-image: linear-gradient(rgba(0, 0, 0, 0.74),rgba(0, 0, 0, 0.74)), url(/img/background.jpg);
    background-size: cover;
    background-position: center;
    height:100vh;
}

header {

}

body {

}